language: php
php:
    - '7.0'
install: composer install
script:
    - mkdir -p build/logs
    - vendor/bin/phpcs src/
    - vendor/bin/phpunit --configuration tests/phpunit.xml --coverage-php build/cov/coverage-${component_name}.cov
after_success:
    - travis_retry php vendor/bin/coveralls
